<!--│ TrackName │ Duration │ Audio │ AlbumTitle │ Cover │ Release │ ArtistName │-->


{% extends 'base.html' %}
{% block title%}{{ tracks[0]['AlbumTitle']}} by {{tracks[0]['ArtistName']}}{% endblock %}


{% block content %}
<div class="container">
  <div class="d-flex align-items-center gap-4 mb-4">
    <img src="{{ url_for('static', filename='covers/' + tracks[0]['Cover'])}}" alt="Album Cover" width="160" class="rounded shadow-sm">
    <div>
      <h1 class="h2 mb-1">{{ tracks[0]['AlbumTitle']}}</h1>
      <p class="text-muted mb-0"><a href="{{ url_for('list_artist_albums', artist_id=tracks[0]['ArtistId']) }}" class="text-muted">{{ tracks[0]['ArtistName'] }}</a></p>
    </div>
  </div>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th>Track Name</th>
        <th>Duration</th>
        <th>Released</th>
      </tr>
    </thead>
    <tbody>
    {% for t in tracks %}
      <tr>
        <td><a href="#" hx-boost="false" onclick="play(this)" data-audiosrc="{{ url_for('static', filename='audio/' + t['Audio'])}}" data-cover="{{ url_for('static', filename='covers/' + t['Cover']) }}" class="text-decoration-none">{{t['TrackName']}} <img class="playbtn" src="/static/play.svg"></a></td>
        <td>{{ (t['Duration'] // 60000) }}:{{ '%02d'|format((t['Duration'] // 1000) % 60) }}</td>
        <td>{{t['Release']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}